html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
    background-color: #edeec9;
    vertical-align : middle;
    height: 80vh;
}
 .card_holder{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

 }

 .lesson-card-horizontal {
    display: inline-block;
    background-color: #bfd8bd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    padding: 10px;
    width: 90%;
    display: flex;
    align-items: center;
    
    font-family: Comic Sans MS, Comic Sans;
}

.lesson-info {
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: flex-start;
}

.lesson-details {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: flex-start;
}

.number{
width: 10%;
}

.lesson-number {
    border-radius: 50%;
    width: 13px;
    height: 13px;
    padding: 4px;
    background: #dde7c7;
    border: 2px solid #52796f;
    color: #52796f;
    text-align: center;

    font: 13px Arial, sans-serif;
}

.lesson-name {
    font-size: 30px;
    color: #173d30;
    height: 10px
}

.lesson-time {
    font-size: 18px;
    color: #173d30;
    height: 10px
}

.teacher-name{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    color: #173d30;
    font-size: 24px;
}

.classroom {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    color: #173d30;

}